# This is a basic workflow to help you get started with Actions
name: Build Release

# Controls when the workflow will run
on:
  push:
    tags:
    - '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Create zip and release
      - name: Zip Release
        uses: TheDoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'APyday-2.zip'
          exclusions: '/.git LICENSE README.md'
      - uses: ncipollo/release-action@v1
        with:
          artifacts: 'APyday-2.zip'
